td {
    text-align: center;
    width: 120px;
  }

.boxes{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

#box1{
    margin-right: 200px;
    background-color: cadetblue;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

#box2{
    background-color: cadetblue;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

#titulo_tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nomes_colunas{
    border: 1px solid;
}

#tabela{
    align-items: center;
    padding: 10px;
}

#tabelaBody{
    margin: 20px;
}
